.navbar-brand {
  font-family: 'Inter', sans-serif;
  font-weight: 900; 
  font-size: 1.5rem;
  letter-spacing: -1px; 


  span {
    color: var(--bs-primary);
  }
}

.navbar-nav {
  .nav-link {
    &.active {
      font-weight: bold;
      color: #fff !important;
    }
  }
}